#logo{
    margin: -27px 2px;
}

#logo img{
    width: 100px;
    height: 120px;
    margin: 10px;
}

#logo1{
    position: relative;
    left: 80%;
    padding-top: 11px;
    padding-left: 24px;
}

#logo1 img{
    width: 66px;
    height: 60px;
}

.navbar{
    display: flex;
    background-color: #e79393;
    position: relative;
    border-radius: 80px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 2px;
}
.navbar ul{
    display: flex;
    padding-left: 1px;
}

.navbar li{
    list-style: none;
}

.navbar ul li a{
    display: block;
    padding: 20px;
    padding-top: 13px;
    color: #26446a;
    text-decoration: none;
    border-radius: 10px;
}

.navbar ul li a:hover{
    color: rgb(59, 110, 206);
}

.navbar div{
    text-align: right;
}

.bgwarning{
    text-align: center;
    font-size: 50px;
    line-height: normal;
}

.container{
    background-color: #d7ca9b;
    border: 5px solid #e13232;
    border-radius: 10px;
    padding: 80px;
    margin: auto;
    width: 500px;
}

body{
    background-color: #85b2d5;
    font-family: 'Ubuntu', sans-serif;
}

#secondarycolor{
    color: rgb(169 28 28);
    font-size: 20px;
    line-height: 0%;
}

h1{
    color: #cc5a7f;
    line-height: 136px;
}

h2{
    color: #6a2564;
    background-color: #3dd3a6;
    background-size: 20px;
    width: 60%;
    margin-top: 4%;
    margin-left: 20%;
    text-align: center;
    line-height: 136px;
    border-radius: 100px;
}

h3{
    color: #8b493d;
    font-size: 20px;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 10;
    background: url("bg-contact.jpg") no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
}

#contact-box form{
    width: 30%;
}

#contact-box form label,
#contact-box form textarea{
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    color: #cfcec0;
    line-height: 45px;
    margin: 0px;
    width: 453px;
    height: 342px;
}

.button {
    background-color: #25c2a9;
    border: none;
    color: #322d2c;
    padding-left: 3%;
    padding-right: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin-top: 6%;
    margin-right: -10%;
    margin-left: 0%;
    padding-bottom: 1%;
    cursor: pointer;
    float: right;
}

.h-primary{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    padding: 10px;
    color: burlywood;
}

.center{
    text-align: center;
}

footer{
    background-color: rgb(33 31 40 / 89%);
    color: #b1d7b2;
    padding-top: 9px;
    margin-top: 0px;
    width: 100%;
}